/* Copyright 2020 Bas Kasemir */

.accordion-title > i {
    padding: 0 0 0 15px;
    height: 25px;
    width: 25px;
    border: 2px;
    border-radius: 50%;
    border-color: springgreen;
    background: bisque;
}

.accordion-title > .caret{
    height: 25px;
    width: 25px;
    border: 2px;
    border-radius: 50%;
    border-color: springgreen;
    position: relative;
    background: bisque;
    top: 25px;
}

.accordion-title {
    cursor: pointer;
}

.accordion {
    height:auto;
    transition: 0.5s ease-out;
    border-bottom: 1px solid rgba(127, 143, 166,1.0);
}

.accordion:not(:last-of-type) {

}

.accordion-title .rotated {
    transform: rotate(90deg);
}

.collapsed {
    height: 0!important;
}

.collapsed * {
    display: none;
}