/* Copyright 2020 Bas Kasemir */

.tabs-head {
    height: 45px;
    border-bottom: 2px solid rgba(127, 143, 166,0.5);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.tabs-head > .item {
    display: inline-block;
    border: none;
    border-bottom: 2px solid rgba(127, 143, 166,0);
    cursor: pointer;
    font-size: 1em;
    padding: 0 0 11px 0;
    font-variant-caps: all-small-caps;
    font-weight: 700;
    transition: 0.25s ease-out;
}

.tabs-head > .item:not(:last-of-type) {
    margin: 0 25px 0 0;
}

.tabs-head > .item.active {
    border-bottom: 2px solid rgba(6, 82, 221, 1.0);
}

.tabs-head > .item:hover:not(.active) {
    border-bottom: 2px solid rgba(6, 153, 244, 1.0);
}

.tabs-content {
    margin: 45px 0 0 0;
    transition: 0.25s ease-out;
}