/* Copyright © 2019 Bas Kasemir */

/***************
  HEADER
 ***************/

.header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    padding: 10px 0 0 107.5px;
    background-color: rgba(6, 82, 221, 1);
    cursor: default;
}

.header * {
    color: rgba(255,255,255,1)!important;
}

.header .logo {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 22.5px;
    top: 10px;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.header .logo:hover {
    transform: rotate(360deg);
}

.header .account {
    height: 50px;
    width: auto;
    min-width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    margin: 5px 0;
    padding: 0 22.5px;
    /*border-left: 2px solid rgba(255,255,225,1);*/
    cursor: pointer;
}

.header .account p {
    top: 50%;
    transform: translateY(50%);
    float: right;
    margin: 0 0 0 10px;
}

.header .account .avatar {
    height: 20px;
    width: 20px;
    border-radius: 6px;
    border: 2px solid rgba(255,255,255,1);
    transform: translateY(75%);
}

.upsdwn {
    transform: rotate(180deg);
}

.header .dropdown {
    height: auto;
    min-width: 340px;
    background-color: rgba(6, 82, 221, 1);
    position: absolute;
    top: 67px;
    right: 22.5px;
    float: right;
    padding: 20px;
    border-radius: 3px;
}

.header .dropdown .tip {
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    background-color: rgba(6, 82, 221, 1);
    position: absolute;
    top: -5px;
    right: 15px;
    float: right;
    border-radius: 3px;
}

.header .dropdown .avatar {
    height: 50px;
    width: 50px;
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,1);
}

.header .dropdown .names {
    height: 50px;
    width: auto;
    position: relative;
    top: -7.5px;
    left: 10px;
    display: inline-block;
    margin: 0 0 15px 0;
}

.header .dropdown .names p {
    margin: 5px 0 0 0;
    font-size: 0.75em;
}

.header .dropdown .btns .half {
    width: 49%;
    display: inline-block;
    position: relative;
}

.header .dropdown .btns .half:first-of-type {
    padding: 0 5px 0 0;
}

.header .dropdown .btns .half:last-of-type {
    padding: 0 0 0 5px;
    float: right;
}

.header .dropdown .btns .button {
    height: 50px;
    width: 100%;
    padding: 12.5px 5px 0 5px;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.header .dropdown .btns .button * {
    color: rgba(64, 64, 64,1.0) !important;
}

.header .dropdown .btns .button:hover  {
    background-color: rgba(245, 246, 250,1.0);
}

.header .dropdown .btns .button:hover * {
    color: rgba(6, 82, 221, 1);
}

/* BELOW IS MOBILE VERSION ONLY */

@media only screen and (max-width: 750px) {

    .header {
        padding: 10px 0 0 20px;
    }

    .header .logo {
        left: 50%;
        transform: translateX(-50%);
    }

    .header .logo:hover {
        transform: rotate(360deg);
    }

    .header .hamburger {
        float: left;
        position: relative;
        left: 0;
    }

}

/***************
  MENUBAR
 ***************/

.menubar {
    height: calc(100vh - 60px);
    width: 85px;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 99;
    padding: 20px 0 10px 0;
    background-color: rgba(245, 246, 250, 1.0);
    overflow: auto;
}

.menubar::-webkit-scrollbar {
    display: none;
}

.menubar a {
    text-decoration: none !important;
}

.menubar .menu-item {
    height: 60px;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 10px 0;
    text-align: center;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.menubar .menu-item:last-of-type {
    border-bottom: none;
}

.menubar .menu-item i {
    font-size: 1.5em;
    margin-top: 10px;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
    /*color: rgba(129,142,148,1) !important;*/
    color: rgba(127, 143, 166,1.0) !important;
}

.menubar .menu-item:hover i, .menubar .active i {
    color: rgba(6, 82, 221, 1) !important;
}

.menubar .active {
    border-left: 5px solid rgba(6, 82, 221, 1);
}

.menubar .active i {
    margin-left: -5px!important;
}

/* BELOW MOBILE VERSION ONLY */

@media only screen and (max-width: 750px) {

    .menubar .menu-item {
        height: 60px;
        width: 100%;
        padding: 10px 0;
        margin: 0 0 10px 0;
    }

    .menubar {
        display: none;
    }

}

/***************
  CONTENT
 ***************/

.content {
    position: absolute;
    top: 0;
    left:0;
    padding: 80px 22.5px 20px 107.5px;
    height: auto;
    width: 100%;
    overflow: scroll;
    /*background-color: rgba(245,245,245,1);*/
}

.content.analysis {
    height: 100%!important;
}

/* BELOW MOBILE VERSION ONLY */
@media only screen and (max-width: 750px) {

    .content {
        padding: 80px 22.5px 20px 20px;
    }

}

.content .half {
    width: 50%;
    margin: 20px;
}

.content .third, .col-1-3 {
    width: 30.5% !important;
}

.col-2-3 {
    width: 63.5% !important;
}

.col-1-2 {
    width: 47.5% !important;
}

.col-1-4 {
    width: 22.5% !important;
}

.col-1-8 {
    width: 10% !important;
}

.col-1-1 {
    width: 100% !important;
}

.content .box {
    display: inline-block;
    position: relative;
    height: 100%;
    min-height: 125px;
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 6px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.13);
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    /*flex-grow: 1;*/
    min-width: 25%;
    height: auto;
}

/*.content .box:hover {
    box-shadow: 0 0 25px rgba(0,0,0,0.25);
    transform: scale(1.005);
}*/

.hider {
    height: 80px;
    background-color: white;
    width: 85%;
    position: absolute;
    top: 60px;
    left: 105px;
    z-index: 2;
}

.above-hider {
    position: relative;
    z-index: 3;
}

.form-progress-bar {
    position: relative;
    width: 100%;
    height: 2px;
    top: 40px;
}

.form-progress-bar div {
    width: 1%;
    height: 2px;
    background-color: rgba(6, 82, 221, 1);
    transition: ease-in-out 0.75s;
    border-radius: 1px;
}

.form-progress {
    height: 50px;
    width: 80%;
    position: absolute;
    top: 135px;
    z-index: 3;
    padding: 7.5px 0;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0,0,0,0.13);
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}

.form-progress .section {
    height: 30px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 2px 5px 5px 0;
}

.form-progress .section:hover {
    color: rgba(6, 82, 221, 1);
}

.section:not(:first-of-type) {
    border-left: 2px solid #ececec;
}

.content .form-col {
    height: auto;
    width: 80%;
    float: left;
    margin: 20px 0 0 0;
    padding: 0 20px 0 0;
}

.content .form-col .notification {
    height: auto;
    width: 100%;
    margin: 0 0 10px 0;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    padding: 5px;
    box-sizing: border-box;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.content .form-col .notification p, .content .form-col .notification h3 {
    margin: 0!important;
}

.content .form-col h3, .content .form-col p {
    margin: 0 0 20px 0;
}

.form-step {
    position: absolute;
    width: 80%;
    z-index: 1;
    top: 205px;
}

.form-col .form-step:not(.form-col #intro) {
    opacity: 0;
    top: 455px;
}

.button-note {
    display: inline-block;
    opacity: 0.75;
    font-style: italic;
    margin: 0 10px!important;
}







.question p {
    font-weight: 700;
    margin: 0 0 75px 0;
}

/*.question input:not(input[type="checkbox"]) {
    width: 100%;
    height: 60px;
    font-size: 1.5em;
    padding: 0 5px;
    margin: 0 0 20px 0;
    letter-spacing: 0.05em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance:none;
    outline: none;
}*/

.small-input {
    width: 55px!important;
    margin: 0 10px 20px 0!important;
}

.question input:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0)!important;
}

.question #fill-date-container {
    display: inline-block!important;
}

#fill-date-container #fill-date {
    margin: 25px 0 0 0!important;
}
