/* Copyright © 2019 Bas Kasemir and Marcel Zandberg */

@charset "utf-8";

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/opensans.woff2);
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgba(64,64,64,1);
}

::-moz-selection { /* Code for Firefox */
    color: rgba(255,255,255,1);
    background: rgba(6, 82, 221, 0.75);
}

::selection {
    color: rgba(255,255,255,1);
    background: rgba(6, 82, 221, 0.75);
}

hr {
    border: none;
    border-top: 2px solid rgba(127, 143, 166,0.5);
}

/*body {
    background-color: rgba(245,245,245,1);
}*/

*[data-changelang] {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

*[data-changelang]:hover {
    color: rgba(6, 153, 244,1.0);
}

a > img {
    text-decoration: none!important;
}

.no-underline {
    text-decoration: none!important;
}

.italic {
    font-style: italic;
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.cur-pointer {
    cursor: pointer;
}

.cur-wait {
    cursor: wait;
}

.cur-arrow {
    cursor: default;
}

.hideonload {
    display: none;
}

.hideonload-important {
    display: none!important;
}

p {
    letter-spacing: 0.05em;
    line-height: 150%;
    color: rgba(64,64,64,1);
}

.form-hint {
    font-size: 0.7em;
    text-align: right;
    font-style: italic;
}

.container {
    width: 85%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 80px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 1);
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="tel"], .dateinput {
    height: 40px;
    width: 100%;
    background-color: rgba(245, 246, 250, 1.0);
    margin: 0 0 10px 0;
    padding: 5px;
    letter-spacing: 0.05em;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    outline: none;
    border-radius: 0;
}

input[readonly] {
    cursor: not-allowed;
}

.radio-container {
    display: flex;
}

/* Customize the label (the container) */
.radio-button {
    position: relative;
    margin: 0 0 12px 0;
    height: 40px;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    transition: 0.25s ease-out;
    background-color: rgba(245, 246, 250, 1.0);
    color: rgba(0,0,0,1);
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-button > * {
    transition: 0.25s ease-out;
}

.radio-button.selected {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1.0)
}

.radio-button > span {
    background: rgba(0,0,0,1.0);
    color: rgba(255,255,255,1.0);
    height: 1em;
    width: auto;
    text-align: center;
    font-size: 0.75em;
    padding: 0 4px;
    margin: 0 5px 0 0;
    border-radius: 3px;
}

.radio-button > span > i {
    color: rgba(255,255,255,1.0);
}

.radio-button.selected > span > i {
    color: rgba(0,0,0,1.0);
}

.radio-button.selected > span {
    background: rgba(255,255,255,1.0);
    color: rgba(6, 82, 221,1.0);
}

.radio-button:first-of-type {
    border-radius: 6px 0 0 6px;
}

.radio-button:last-of-type {
    border-radius: 0 6px 6px 0;
}

.radio-button:not(:last-of-type) {
    margin-right: 2px;
}

/* Hide the browser's default checkbox */
.radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-button:hover {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

select {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    width: 100%;
    height: 40px;
    padding: 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    background-color: rgba(245, 246, 250, 1.0);
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    border-radius: 0;
    transition: 0.25s ease-in-out;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

/*input[autocapitalize="on"] {
    text-transform: capitalize;
}*/

label:not(.radio-button) {
    position: relative;
    top: 0px;
    left: 0;
    font-size: 0.75em;
    font-weight: 700;
}

input[type="submit"] {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    border-radius: 6px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

input[type="submit"]:hover {
    background-color: rgba(6, 153, 244,1.0);
}

input:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

table {
    border-collapse: collapse;
    /*border-bottom: 2px solid rgba(6, 82, 221,0.25);*/
    /*box-shadow: 0 2px 5px rgba(0,0,0,.5);*/
}

table input {
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin: 5px 0 1px 0;
    padding: 4px 0;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221, 0.25);
    transition: 0.25s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    outline: none;
}

th, td{
    width: auto;
    padding: 5px 10px;
}

table th {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    text-align: left;
}

table th:last-of-type {
    border-radius: 0 3px 0 0;
}

table th:first-of-type {
    border-radius: 3px 0 0 0;
}

table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 3px;
}

table tr:last-of-type td:last-of-type {
    border-radius: 0 0 3px 0;
}

table tr {
    background-color: rgba(234,234,234,1);
}

table tr:nth-child(even) {
    background-color: rgba(250,250,250,1);
}

.container-small {
    position: absolute;
    margin: 20px auto;
    margin-left: 39.75%;
    width: 55%;
    padding: 5px 0;
    margin-top: -600px;
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(64,64,64,0.9);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    opacity: 0;
    transition: 0.25s ease-out;
    cursor: text;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(64,64,64,0.9) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.aff-logo {
    margin: 0 50px 0 0;
    text-decoration: none;
}


.language {
    /*margin-top: -20px;*/
    text-align: center;
    margin-left: 50px;
    height: 30px;
    width: 100px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
}

.modify {
    width: 140px;
    display: inline-block;
}

select.modify {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 33px;
    padding: 5px 0px;
    margin: 10px 1px 4px 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.modify:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}


.filter {
    width: 40px;
    display: inline-block;
}

.filter-margin {
    margin-top: -15px;

}

select.filter {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 33px;
    padding: 5px 0px;
    margin: 10px 1px 4px 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.filter:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

.register {
    width: 190px;
    display: inline-block;
}


select.register {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 40px;
    padding: 5px 0px;
    margin: 0px 1px 4px 5px;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.register:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}


.modify-table {
    width: 180px;
    display: inline-block;
}


select.modify-table {
    cursor: pointer;
    /*border: 1px solid #cacaca;*/
    height: 30px;
    padding: 5px 0px 2px;
    margin: 5px 1px 4px 0;
    /*margin: 0 0 10px 0;*/
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 0.95em;
    line-height: normal;
    border: none;
    border-bottom: 2px solid rgba(6, 82, 221,0.25);
    transition: 0.25s ease-in-out;
    background-color: #fefefe;
    outline: none;
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

select.modify-table:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}


.selctor-arw {
    margin-left: 134px;
    margin-top: 19px;
    position: absolute;
}

.selctor-arw-margin {
    margin-left: -40px;
}

.selctor-arw-filter {
    margin-left: -15px;
}

.selctor-arw-role {
    margin-left: -35px;
}

.selc-edit {
    margin-left: 25px;
    margin-top: -20px;
}


.btn, .btn-small {
    height: 45px;
    min-width: 200px;
    width: auto;
    margin: 0 0 20px 0;
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px 0 10px;
    border-radius: 6px;
    transition: 0.25s ease-in-out;
    text-decoration: none!important;
    display: inline-block;
}

.btn i, .btn-small i {
    color: rgba(255,255,255,1)!important;
}

.btn-small {
    min-width: 30px!important;
    height: 30px;
    padding: 4px 10px 0 10px;
}

.btn:hover, .btn-small:hover {
    background-color: rgba(6, 153, 244,1.0);
}

.app-menu-box h3, .app-menu-box i {
    color: rgba(255,255,255,1) !important;
}

.app-menu-box i {
    font-size: 3.0em;
    margin: 0 0 25px;
}

.app-menu-box {
    width: 47.5%;
    height: 150px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
    padding: 25px 15px;
    float: left;
    position: relative;
    cursor: pointer;
    background-color: rgba(6, 82, 221,1.0);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.app-menu-box:hover {
    background-color: rgba(6, 153, 244,1.0);
}


.float-right {
    float: right;
}

.copy {
    font-size: 0.7em;
}

.fa-external-link-alt {
    font-size: 0.5em;
}

.notification {
    height: auto;
    width: 100%;
    margin: 0;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    padding: 5px 10px;
    box-sizing: border-box;
}

.information {
    border-color: rgba(45, 152, 218,1.0);
    background-color: rgba(45, 152, 218,0.25);
}

.warning {
    border-color: rgba(254, 211, 48,1.0);
    background-color: rgba(254, 211, 48,0.25);
}

.critical {
    border-color: rgba(235, 59, 90,1.0);
    background-color: rgba(235, 59, 90,0.25);
}

.invalid-form {
    border-bottom: 2px solid rgba(234, 32, 39,1.0)!important;
}

.royal_blue {
    background-color: rgba(6, 82, 221, 1.0);
}

.royal_blue_li_shade {
    background-color: rgba(6, 153, 244, 1.0);
}

.thundercloud_grey {
    background-color: rgba(127, 143, 166,1.0);
}
.sea_blue {
    background-color: rgba(45, 152, 218,1.0);
}
.construction_yellow {
    background-color: rgba(254, 211, 48,1.0);
}
.dogwood_blossom_red {
    background-color: rgba(235, 59, 90,1.0);
}
.download_green {
    background-color: rgba(76, 209, 55,1.0);
}

.royal_blue_text {
    color: rgba(6, 82, 221, 1.0);
}

.royal_blue_li_shade_text {
    color: rgba(6, 153, 244, 1.0);
}

.thundercloud_grey_text {
    color: rgba(127, 143, 166,1.0);
}
.sea_blue {
    color: rgba(45, 152, 218,1.0);
}
.construction_yellow_text {
    color: rgba(254, 211, 48,1.0);
}
.dogwood_blossom_red_text {
    color: rgba(235, 59, 90,1.0);
}
.download_green_text {
    color: rgba(76, 209, 55,1.0);
}

.divider {
    height: 2px;
    width: 100%;
    background-color: rgba(127, 143, 166,0.5);
    margin: 5px 0;
}

.i-b {
    display: inline-block;
}

.spacer-25px {
    height: auto;
    width: 25px;
    display: inline-block;
}

.hideondesktop {
    display: none!important;
}

.spinner {
    width: 30px;
    height: 30px;
    animation-name: spinner;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spinner {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    .container {
        display: none;
    }

    .hideondesktop {
        display: block!important;
    }

    .hideonmobile {
        display: none!important;
    }

}