/* Copyright © 2019 Bas Kasemir */

body {
    background-color: rgba(6, 82, 221,1.0) !important;
}

.login-box {
    height: 550px;
    width: 800px;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 6px;
}

.login-box .split {
    width: 50%;
    height: inherit;
    display: inline-block;
    padding: 25px;
}

.login-box .left {
    float: left;
}

.login-box .right {
    float: right;
    border-radius: 0 6px 6px 0;
    background-image: url("/public/images/mntn-and-bt.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-logo {
    display: inline-block;
}

h1 {
    display: inline-block;
    position: relative;
    margin: 0 0 0 20px;
    top: -15px;
}

.notification-login-container {
    height: 25px;
    width: 100%;
    margin: -10px 0 5px 0;
}

#newAccountTitle {
    margin: 80px 0 15px 0;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

/* The list item content */
ol > li {
    position:relative; /* Create a positioning context */
    left: 1.75em;
    margin-bottom: 15px;
    list-style:none; /* Disable the normal item numbering */
}

/* The blue dot */
ol > li:before {
    content:counter(li);
    counter-increment: li;
    border-radius: 50%;
    height: 1.4em;
    width: 1.4em;
    vertical-align: 100%;
    position:absolute;
    left: -1.75em;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(6, 82, 221, 1.0);
    text-align:center;
}

li ol, li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

#AuthQR {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.QRhint {
    font-size: 0.7em;
    text-align: center;
    font-style: italic;
}

.appQR {
    display: inline-block;
}

.appQR-div {
    margin: 0 0 25px 0;
    position: relative;
    padding: 0 25px;
    width: 50%;
}

.appQR-div:first-of-type {
    float: left;
}

.appQR-div:nth-of-type(2) {
    float: right;
}

.form-btn {
    height: 40px!important;
    padding: 5px 0!important;
    width: 100% !important;
    letter-spacing: 0.05em!important;
    font-size: 1em!important;
}

.codes {
    display: block;
}

.twofacauthlabel {
    position: relative;
    top: 20px;
    left: 0;
    font-weight: 700;
}

input[type="tel"] {
    width: 20px;
    text-align: center;
    margin: 30px 0 25px 0!important;
}

input[type="submit"] {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    border-radius: 6px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

input[type="submit"]:hover {
    background-color: rgba(6, 153, 244,1.0);
}

input:focus {
    border-bottom: 2px solid rgba(6, 82, 221,1.0);
}

.copy {
    font-size: 0.7em;
    position: absolute;
    text-align: left;
    bottom: 20px;
    float: left;
}

.locales {
    text-align: right;
    font-size: 0.7em;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(-25px);
    float: right;
}

/* BELOW MOBILE VERSION ONLY */

@media only screen and (max-width: 750px) {

    .login-box {
        height: 525px;
        width: 90%;
    }

    .login-box .split {
        width: 100%;
    }

    .login-box .left {
        float: left;
        position: absolute;
        top: 90px;
    }

    .login-box .right {
        float: left;
        position: absolute;
        top: 0;
        left:0;
        height: 100px;
        border-radius: 6px 6px 0 0;
    }

    .login-box .left p {
        font-size: 0.8em;
    }

    .login-box .left .login-greeting {
        margin-top: -10px;
    }

    input {
        margin: 0 0 5px 0;
    }

    .copy {
        font-size: 0.7em;
        position: relative;
        bottom: -15px;
        left: 0;
        float: left;
    }

    .locales {
        text-align: right;
        font-size: 0.5em;
        position: relative;
        top: -4px;
        right: 0px;
        transform: translateX(0px);
        float: right;
    }

}