/*Copyright © 2019 Marcel Zandberg*/

html,

body,
button,
input {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 42px;
    font-weight: 300;
    padding-top: 30px;
    margin: 15px 0;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

footer {
    text-align: center;
    color: #555;
    font-size: 12px;
    padding: 5px;
}

section {
    margin-bottom: 25px;
}

section.hero {
    background: #20C1C7;
    background: linear-gradient(#189094, #20C1C7);
    color: white;
    text-shadow: 0 1px 1px rgba(20,20,20,0.6);
    margin-bottom: 0;
    min-height: 450px;
}
.hero h2 {
    font-size: 16px;
    font-weight: 400;
}

section.who {
    margin-bottom: 30px;
}
.section-header {
    background: #204648;
    padding: 5px 0;
}

button,
a.btn {
    height: 40px;
    min-width: 200px;
    width: auto;
    margin: 0 0 20px 0;
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 8px 10px 0 10px;
    border-radius: 6px;
    transition: 0.25s ease-in-out;
    text-decoration: none!important;
    display: inline-block;
}
input[type="file"] {
    cursor: pointer;
}
button:focus {
    outline: 0;
}

.file-btn {
    position: relative;
}
.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: rgba(255,255,255,1);
}

.actions {
    padding: 5px 0;
}
.actions button {
    margin-right: 5px;
}

pre[class*="language"] {
    margin: 10px 0;
    padding-top: 0;
    border-left-color: #189094;
}

.container1,
.section-header h2 {
    position: static;
    max-width: 1000px;
    margin: 20px auto;
    margin-left: 40%;
    min-width: 500px;
    padding: 0 10px;
    margin-top: -542px;
}

.hero p {
    font-size: 16px;
}

.hero .grid {
    padding-top: 50px;
}

/*h2 {*/
    /*color: white;*/
    /*font-size: 23px;*/
    /*font-weight: 300;*/
/*}*/

.demo-wrap {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}

.demo-wrap .container1 {
    padding-bottom: 10px;
}

.demo-wrap strong {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #aaa;
    margin: 0 0 5px 0;
}

.documentation h3 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #0C4648;
    margin: 15px 0 10px;
}
.documentation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.documentation section > ul > li {
    margin-bottom: 1.5em;
}

.documentation p {
    margin: 5px 0 10px;
}

.documentation .parameter-list li {
    padding-left: 5px;
    line-height: 28px;
}
.documentation .parameter-list li.values {
    padding-left: 20px;
}
.documentation em {
    color: #aaa;
    font-style: normal;
    padding: 0 10px;
}
.documentation i {
    color: #666;
}

.documentation strong.focus {
    font-size: 18px;
    color: #189094;
    font-weight: 700;
}
.documentation span.default {
    padding-right: 10px;
    font-weight: 600;
    color: #777;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
    !important;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
    !important;
}
.upload-demo.ready .upload-result {
    display: inline-block;
}
.upload-demo-wrap {
    width: 100%;
    height: 450px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 100%;
    margin: 50px auto;
    border: 1px solid #aaa;
}

/* Sweet alert modifications */
.sweet-alert {
    width: auto;
    max-width: 85%;
}

/* Grid - subset */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-'] {
    float: left;
    padding-right: 20px; /* column-space */
}

.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-4 {
    width: 25%;
}
.col-3-4 {
    width: 75%;
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }
    .container1,
    .section-header h2 {
        min-width: 0;
    }

    .croppie-container1 {
        padding: 30px 0;
    }
}