<!-- Copyright © 2019-2020 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>[[#{menu.analysis}]] - Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link  th:href="@{/private/CSS/file-dropbox.css}" rel="stylesheet" type="text/css">
    <link  th:href="@{/private/CSS/tooltip.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/private/JS/analysis_section_navigation.js}"></script>
    <script th:src="@{/private/JS/analysis_question_navigation.js}"></script>
    <script th:src="@{/private/JS/analysis_form.js}"></script>
    <script th:src="@{/private/JS/datepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/private/JS/datepicker/daterangepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/daterangepicker.css}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>


<div class="content analysis">
    <div class="hider"></div>
    <h2 class="above-hider">[[#{menu.analysis}]]</h2>
    <div class="form-col">
        <div class="form-progress">
            <div class="form-progress-bar">
                <div></div>
            </div>
        </div>


        <div class="form-step" id="intro" data-section-name="Intro">
            <h3 th:text="#{analyse.intro_title}"></h3>
            <p>Hey [[${user.first_name}]],<br>[[#{analyse.intro_paragraph}]]</p>
            <div class="btn next-form-step no_selection" data-setMaxSection="1" th:text="#{analyse.get_started_btn}"></div>
            <p class="button-note">[[#{analyse.next_shortcut_hint}]] &#9166;</p>
        </div>

        <div class="form-step hideonload" id="audiofiles" data-section-name="Audio">
            <h3 th:text="#{analyse.files_title}"></h3>
            <p th:text="#{analyse.files_paragraph}"></p>

            <div class="notification critical hideonload" id="wrong_filetype">
                <h3><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{analyse.wrong_filetype_header}]]</h3>
                <p>[[#{analyse.wrong_filetype}]]</p>
            </div>

            <div class="notification warning hideonload" id="max_filecount">
                <h3><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{analyse.max_filecount_header}]]</h3>
                <p>[[#{analyse.max_filecount}]]</p>
            </div>

            <div class="notification warning hideonload" id="max_fileselect">
                <h3><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{analyse.max_fileselect_header}]]</h3>
                <p>[[#{analyse.max_fileselect}]]</p>
            </div>

            <div class="dropbox" id="dropbox">
                <label for="files-dropbox"><i class="fas fa-upload"></i><br><br>[[#{analyse.dropbox_label}]]</label>
                <input type="file" name="files[]" id="files-dropbox" multiple>
            </div>
            <div id="filelist">
                <p th:text="#{analyse.files_selected}"></p>
                <ul></ul>
                <br>
                <div class="btn-small" id="resetfiles" data-setMaxSection="1"><i class="fas fa-times-circle"></i>&nbsp;[[#{analyse.files_clear}]]</div>
            </div>
            <div class="btn next-form-step hideonload-important no_selection" data-setMaxSection="2" id="fileNextBtn" th:text="#{analyse.next_btn}"></div>
        </div>

        <div class="form-step hideonload" id="metadata" data-section-name="Audio Metadata">
            <h3 th:text="#{analyse.metadata_title}"></h3>
            <p th:text="#{analyse.metadata_paragraph}"></p>
            <div class="question">
                <p>On which channel can the patient be heard?</p>
                <div class="radio-container">
                    <label class="radio-button"><span>L</span>Left
                        <input type="radio" name="channel" value="L">
                    </label>

                    <label class="radio-button"><span>R</span>Right
                        <input type="radio" name="channel" value="R">
                    </label>
                </div>
                <div class="btn next-question no_selection" data-setMaxSection="2">Next question</div>
            </div>

            <div class="question">
                <p>What is the name of the interviewer?</p>
                <input id="interviewer" name="interviewer" placeholder="interviewer" autocomplete="off" autocapitalize="off">
                <div class="btn next-question no_selection" data-setMaxSection="2">Next question</div>
            </div>

            <div class="question hideonload">
                <p>What is the date of the recording?</p>
                <input id="day" name="patid" placeholder="DD" autocomplete="off" autocapitalize="off" maxlength="2" class="goToMaxLen dontgoback dateinput small-input ">
                <input id="month" name="patid" placeholder="MM" autocomplete="off" autocapitalize="off" maxlength="2" class="goToMaxLen dateinput small-input ">
                <input id="year" name="patid" placeholder="YYYY" autocomplete="off" autocapitalize="off" maxlength="4" class="dateinput small-input ">
                <div class="checkbox-container" id="fill-date-container">
                    <div class="no_selection checkbox" id="fill-date">
                        <div class="backbar"><span>&nbsp;On</span></div>
                        <div class="switch"></div>
                        <label>
                            Fill today's date&nbsp;<i class="far fa-question-circle tooltip"><span class="tooltiptext no_selection">Turn on if you want to fill the fields with today's date.</span></i>
                        </label>
                    </div>
                    <br><br>
                    <input type="text" name="fill-date" id="input-fill-date" hidden>
                </div>
                <br>
                <div class="btn previous-question no_selection">Previous question</div>
                <div id="futher-button-date" class="hideonload">
                    <p class="button-note">or</p>
                    <div class="btn next-form-step no_selection" data-setMaxSection="3" th:text="#{analyse.next_btn}"></div>
                </div>
            </div>

        </div>

        <div class="form-step hideonload" id="patientdata" data-section-name="Patient data">
            <h2>Patient data</h2>

            <label>Patient id</label>
            <input type="text" name="patientID" id="patientID" placeholder="Pat id">

            <div id="existingPatient" class="hideonload">
                <p>This patient is already registered.</p>
                <div class="overflow">
                    <table>
                        <tr>
                            <th>Key</th>
                            <th>Data</th>
                        </tr>
                        <tr>
                            <td>Database ID</td>
                            <td id="pat-id"></td>
                        </tr>
                        <tr>
                            <td>Patient ID</td>
                            <td id="pat-patient_number"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.sex}"></td>
                            <td id="pat-sex"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.birthdate}"></td>
                            <td id="pat-birthdate"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.degree}"></td>
                            <td id="pat-degree"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.diag_group}"></td>
                            <td id="pat-diag_group"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.added_at}"></td>
                            <td id="pat-added_at"></td>
                        </tr>
                        <tr>
                            <td th:text="#{analyse.added_by}"></td>
                            <td id="pat-added_by"></td>
                        </tr>

                    </table>
                </div>
            </div>

            <div id="newPatient" class="hideonload">
                <p>This patient has not been registered yet. Please fill in this form below.</p>


                <br>

                <label>Date of birth</label>
                <input type="text" name="pat-birthdate" th:placeholder="#{results.datarange_placeholder}+' - '+#{results.datarange_placeholder}">

                <label>Sex</label>
                <div class="radio-container">
                    <label class="radio-button"><span><i class="fas fa-male"></i></span>Male
                        <input type="radio" name="pat-sex" value="M">
                    </label>

                    <label class="radio-button"><span><i class="fas fa-female"></i></span>Female
                        <input type="radio" name="pat-sex" value="F">
                    </label>

                    <label class="radio-button"><span><i class="fas fa-intersex"></i></span>Other
                        <input type="radio" name="pat-sex" value="O">
                    </label>
                </div>

                <br>
                <label>Education level</label>
                <select name="pat-degree">
                    <option value="" selected disabled>- Please choose a option -</option>
                    <option value="N/A">N/A</option>
                    <option value="MBO">MBO</option>
                    <option value="HBO">HBO</option>
                    <option value="WO">WO</option>
                </select>

                <label>Diagnostic group</label>
                <select name="pat-diag_group">
                    <option value="" selected disabled>- Please choose a option -</option>
                    <option value="control">Controlegroep</option>
                    <option value="psychosis">Psychose</option>
                    <option value="parkinson">Parkinson</option>
                    <option value="depressiom">Depressie</option>
                </select>

            </div>

            <div class="btn next-form-step no_selection" data-setMaxSection="4" th:text="#{analyse.next_btn}"></div>
        </div>

        <div class="form-step hideonload" id="check" data-section-name="Check">
            <h2>Check</h2>
            <br>
            <p th:text="#{analyse.check}"></p>
            <br>
            <h3>Audio Metadata</h3>
            <div class="overflow">
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Data</th>
                    </tr>
                    <tr>
                        <td>Audiofiles</td>
                        <td id="check-audiofiles"></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td id="check-date"></td>
                    </tr>
                    <tr>
                        <td>Patient channel</td>
                        <td id="check-channel"></td>
                    </tr>
                    <tr>
                        <td>Interviewer</td>
                        <td id="check-interviewer"></td>
                    </tr>

                </table>

            </div>
            <br>
            <h3>Patient data</h3>
            <div class="overflow">
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Data</th>
                    </tr>
                    <tr>
                        <td>Patient ID</td>
                        <td id="check-patient_number"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.sex}"></td>
                        <td id="check-sex"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.birthdate}"></td>
                        <td id="check-birthdate"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.degree}"></td>
                        <td id="check-degree"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.diag_group}"></td>
                        <td id="check-diag_group"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.added_at}"></td>
                        <td id="check-added_at"></td>
                    </tr>
                    <tr>
                        <td th:text="#{analyse.added_by}"></td>
                        <td id="check-added_by"></td>
                    </tr>

                </table>
            </div>
            <br>
            <div class="btn no_selection" id="uploadButton"><i class="fas fa-paper-plane"></i>&nbsp;[[#{analyse.submit}]]</div>
        </div>

    </div><!-- End of .form-col -->
</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    var analyse = {
        "please_wait": /*[[#{analyse.please_wait}]]*/ 'Default locale',
        "uploading": /*[[#{analyse.uploading}]]*/ 'Default locale',
        "success": /*[[#{analyse.success}]]*/ 'Default locale',
        "being_processed": /*[[#{analyse.being_processed}]]*/ 'Default locale',
        "results_page": /*[[#{analyse.results_page}]]*/ 'Default locale',
        "another_one": /*[[#{analyse.another_one}]]*/ 'Default locale',
        "error": /*[[#{analyse.error}]]*/ 'Default locale',
        "error_msg": /*[[#{analyse.error_msg}]]*/ 'Default locale',
        "try_again": /*[[#{analyse.try_again}]]*/ 'Default locale',
        "required_field": /*[[#{analyse.required_field}]]*/ 'Default locale',
        "required_msg": /*[[#{analyse.required_msg}]]*/ 'Default locale',
        "complete_section": /*[[#{analyse.complete_section}]]*/ 'Default locale',
        "complete_section_msg": /*[[#{analyse.complete_section_msg}]]*/ 'Default locale',
        "self_closing": /*[[#{analyse.self_closing}]]*/ 'Default locale',
        "sure_exit": /*[[#{analyse.sure_exit}]]*/ 'Default locale',
        "by_you": /*[[#{analyse.by_you}]]*/ 'Default locale',
        "not_yet": /*[[#{analyse.not_yet}]]*/ 'Default locale',
        "this_username": /*[[${#httpServletRequest.remoteUser}]]*/ 'Default locale'
    };

    /*]]>*/

</script>

</body>
</html>