<!-- Copyright © 2019 - 2020 Bas Kasemir and Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/wireframe.html :: loginhead"></th:block>
    <title>Spraak | Login</title>
</head>
<body>

<div class="login-box">

    <div class="split left">
        <img th:src="@{/public/images/spraak-logo/Spraak-logo-simple-blue.svg}" height="50" width="50" alt="Logo" class="login-logo"><h1>Spraak</h1>
        <br>
        <div id="greeting">
            <p class="login-greeting"><b>[[#{login.greeting_head}]]</b><br>[[#{login.greeting_paragraph}]]</p>

            <br>
        </div>

        <div class="notification-login-container">

            <noscript>
                <div class="notification critical">
                    <p><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{login.no_javascript}]]</p>
                </div>
            </noscript>

            <div th:if="${param.error}" class="notification critical">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{login.wrong_credentials}]]</p>
            </div>

            <div th:if="${param.logout}" class="notification information">
                <p><i class="fas fa-info-circle"></i>&nbsp;[[#{login.logged_out}]]</p>
            </div>

            <div th:if="${param.unauth}" class="notification warning">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;[[#{login.unauth}]]</p>
            </div>

        </div>

        <form th:action="@{/login}" method="post" id="LoginForm">
            <div id="credentials">
                <label for="username">[[#{login.username_label}]]:</label>
                <input type="text" name="username" id="username" autocomplete="off" autocapitalize="off" required th:placeholder="#{login.username_placeholder}">
                <label for="password">[[#{login.password_label}]]:</label>
                <input type="password" name="password" id="password" autocomplete="off" autocapitalize="off" required placeholder="••••••••">
                <p class="italic cur-pointer form-hint" id="forgotPassword" th:text="#{login.forgot_password}"></p>
                <input type="submit" value="Log in"/>
            </div>
            <div id="2fa" class="hideonload">
                <p class="twofacauthlabel">[[#{login.2FA_label}]]</p>
                <div class="codes">
                    <input id="2fa1" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen dontgoback">
                    <input id="2fa2" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen">
                    <input id="2fa3" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen">
                    <input id="2fa4" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen">
                    <input id="2fa5" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen">
                    <input id="2fa6" maxlength="1" type="tel" placeholder="•" autocomplete="off" class="goToMaxLen">
                </div>
                <input type='text' id="2FACode" name='code' hidden>
                <div class="btn-small GoToCredentials"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp;[[#{login.2FA_back_button}]]</div>
            </div>
            <img src="/public/images/spraak-logo/Spraak-logo-simple-blue.svg" height="16" width="16" alt="Spinner" class="spinner hideonload" id="spinner">

        </form>

        <form th:action="@{/user/password/request-reset}" method="post" id="PasswordResetForm">

            <div id="password-reset-form" class="hideonload">
                <p class="login-greeting"><b>[[#{login.reset_password}]]</b><br>[[#{login.forgot_password_info}]]</p>
                <br>
                <label for="pwr-username">[[#{login.username_label}]]:</label>
                <input type="text" name="username" id="pwr-username" autocomplete="off" autocapitalize="off" required th:placeholder="#{login.username_placeholder}">

                <label for="pwr-email">[[#{user.label.email}]]:</label>
                <input type="text" name="email" id="pwr-email" autocomplete="off" autocapitalize="off" required th:placeholder="#{user.placeholder.email}">


                <input type="submit" th:value="#{login.reset_password}"/>

                <br><br>

                <div class="btn-small GoToCredentials"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp;[[#{login.2FA_back_button}]]</div>


            </div>

        </form>

        <br><br>

        <p class="copy">[[#{app.version}]] - &copy; [[#{app.year}]] [[#{app.institute}]]</p>
        <p class="locales"><span data-changelang="en">EN</span> | <span data-changelang="nl">NL</span></p>
    </div>

    <div class="split right">

    </div>

</div>

</body>
</html>