<!-- Copyright © 2019 Marcel Zandberg, Bas Kasemir. Mostly rebuilt by Bas Kasemir during internship -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak - Profile of [[${user_profile.userName}]]</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/private/CSS/result-page.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/user.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/tabs.css}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script sec:authorize="hasRole('ROLE_ADMIN')" th:src="@{/private/admin/JS/admin_user.js}"></script>
    <script th:src="@{/private/JS/changeuser.js}"></script>
    <script th:src="@{/private/JS/tabs.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2>Profile</h2>

    <div class="grid">

        <div th:if="${user_profile.userName == null}" class="box grid-item col-1-2">
            <div class="notification critical">
                <h3><i class="fas fa-exclamation-triangle"></i>&nbsp;That's quite embarrassing...</h3>
                <p>The requested user cannot be found :(</p>
            </div>
        </div>

        <th:block th:if="${user_profile.userName != null}">
        <div class="box grid-item col-1-3 profile">

            <h3 class="heading">Profile</h3>

            <img th:src="${user_profile.profile_picture == null || user_profile.profile_picture == ''} ? '/public/images/default-user.svg' : ${user_profile.profile_picture}" th:alt="'Image of '+${user_profile.userName}" height="100" width="100"class="profile-picture">

            <h2>[[${user_profile.first_name} + ' ' + ${user_profile.last_name}]]<span sec:authorize="hasRole('ROLE_ADMIN')">&nbsp;<i style="font-size: 0.65em; position: relative; top: -2px;" th:class="${user_profile.enabled} ? 'fas fa-user-check download_green_text' : 'fas fa-user-times dogwood_blossom_red_text'" th:title="${user_profile.enabled} ? 'Activated' : 'Dectivated'"></i></span></h2>
            <h5 class="subtitle" th:text="${user_profile.userName} + ' | ' + ${user_profile.full_name_institute} + ' | ' + ${user_profile.formattedRole}"></h5>

            <br>
            <hr>
            <br>

            <div class="grid">
                <div class="btn-small col-1-1" sec:authorize="hasRole('ROLE_ADMIN')" th:if="${user_profile.enabled == 0}">
                    <i class="fas fa-paper-plane"></i>&nbsp;Resend activation
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')" th:if="!${user_profile.userName == user.userName}" class="btn-small col-1-1" id="edit-user-btn">
                    <i class="fas fa-user-edit"></i>&nbsp;Edit
                </div>
                <div th:if="${user_profile.userName == user.userName}" class="btn-small col-1-1" id="edit-user-self-btn">
                    <i class="fas fa-user-edit"></i>&nbsp;Edit
                </div>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')" th:if="!${user_profile.userName == user.userName}">
                    <div th:if="${user_profile.enabled}" class="btn-small col-1-2" id="deactivate-user-btn">
                        <i class="fas fa-user-times"></i>&nbsp;Deactivate
                    </div>
                    <div th:if="!${user_profile.enabled}" class="btn-small col-1-2" id="activate-user-btn">
                        <i class="fas fa-user-times"></i>&nbsp;Activate
                    </div>
                    <div class="btn-small col-1-2"  id="delete-user-btn">
                        <i class="fas fa-user-minus"></i>&nbsp;Delete
                    </div>
                </th:block>
            </div>
        </div>

        <div class="box grid-item col-2-3">

            <div class="tabs-head">
            </div>

            <div class="tabs-content" th:data-tabs-name="#{user.personal_details}">
                <fieldset>
                    <div class="col-1-2">
                        <label for="fname-field" th:text="#{user.label.firstname} + ':'"></label>
                        <br>
                        <input type="text" name="fname" id="fname-field" th:value="${user_profile.first_name}" readonly data-editable-self="true" data-editable-admin="true">
                    </div>

                    <div class="col-1-2">
                        <label for="lname-field" th:text="#{user.label.lastname} + ':'"></label>
                        <br>
                        <input type="text" name="lname" id="lname-field" th:value="${user_profile.last_name}" readonly data-editable-self="true" data-editable-admin="true">
                    </div>
                </fieldset>

                <input type="text" name="username" th:value="${user_profile.userName}" readonly hidden>

                <br><br>
                <div class="btn tabs-next" th:text="#{tabs.next}"></div>
            </div>

            <div class="tabs-content" th:data-tabs-name="#{user.contact_information}">
                <fieldset>
                    <div class="col-1-2">
                        <label for="email-field" th:text="#{user.label.email}"></label>
                        <input type="email" name="email" id="email-field" th:value="${user_profile.email}" data-editable-self="true" readonly data-editable-admin="true">
                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <div class="col-1-2">
                        <label for="language-field" th:text="#{user.label.language} + ':'"></label>
                        <input type="text" th:value="${user_profile.profile_language}" readonly>
                        <select sec:authorize="hasRole('ROLE_ADMIN')" name="language" id="language-field" class="hideonload" data-editable-admin="true" data-editable-self="true" >
                            <option th:selected="${user_profile.profile_language == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                            <option th:selected="${user_profile.profile_language == 'nl-NL'}" value="nl-NL" th:text="#{lang.nl}"></option>
                            <option th:selected="${user_profile.profile_language == 'en-US'}" value="en-US" th:text="#{lang.en}"></option>
                        </select>
                    </div>
                </fieldset>
                <br><br>
                <div class="btn tabs-prev" th:text="#{tabs.prev}"></div>
                <div class="btn tabs-next" th:text="#{tabs.next}"></div>
            </div>

            <div class="tabs-content" th:data-tabs-name="#{user.rights}">
                <fieldset>
                    <div class="col-1-2">
                        <label for="institute-field" th:text="#{user.label.institute}+':'"></label>
                        <input type="text" th:value="${user_profile.full_name_institute}" readonly>
                        <select sec:authorize="hasRole('ROLE_ADMIN')" name="institute" id="institute-field" class="hideonload" data-editable-admin="true">
                            <option th:selected="${user_profile.institute == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                            <option th:selected="${user_profile.institute_abbr == institutes.abbreviation}" th:each="institutes : ${institutes}" th:value="${institutes.abbreviation}" th:text="${institutes.full_name}"></option>
                        </select>

                    </div>
                </fieldset>
                <br>
                <fieldset>
                    <div class="col-1-2">
                        <label for="role-field" th:text="#{user.label.role}"></label>
                        <input type="text" th:value="${user_profile.formattedRole}" readonly>
                        <select sec:authorize="hasRole('ROLE_ADMIN')" id="role-field" name="role" class="hideonload" data-editable-admin="true">
                            <option th:selected="${user_profile.role == null}" disabled hidden value="" th:text="#{user.select_choose}"></option>
                            <option th:selected="${user_profile.role == 'ROLE_USER'}" th:value="ROLE_USER" th:text="#{user.role.user}" ></option>
                            <option th:selected="${user_profile.role == 'ROLE_ADMIN'}" th:value="ROLE_ADMIN" th:text="#{user.role.admin}" ></option>
                        </select>
                    </div>
                </fieldset>
                <br>
                <th:block th:if="!${user_profile.userName == user.userName}">
                    <p class="italic" th:text="#{user.changePasswordExpl}"></p>
                </th:block>
                <br><br>
                <div class="btn tabs-prev" th:text="#{tabs.prev}"></div>
            </div>
        </div>

        </th:block>

    </div>

</div>

<script th:inline="javascript">

    /*<![CDATA[*/

    var analyse = {
        "please_wait": /*[[#{analyse.please_wait}]]*/ 'Default locale',
        "uploading": /*[[#{analyse.uploading}]]*/ 'Default locale',
        "success": /*[[#{analyse.success}]]*/ 'Default locale',
        "being_processed": /*[[#{analyse.being_processed}]]*/ 'Default locale',
        "error": /*[[#{analyse.error}]]*/ 'Default locale',
        "error_msg": /*[[#{analyse.error_msg}]]*/ 'Default locale',
        "try_again": /*[[#{analyse.try_again}]]*/ 'Default locale',
        "required_field": /*[[#{analyse.required_field}]]*/ 'Default locale',
        "required_msg": /*[[#{analyse.required_msg}]]*/ 'Default locale',
        "self_closing": /*[[#{analyse.self_closing}]]*/ 'Default locale',
        "sure_exit": /*[[#{analyse.sure_exit}]]*/ 'Default locale'
    };

    /*]]>*/

</script>

</body>
</html>