<!-- Copyright © 2019 Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>[[#{menu.add_user}]] - Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">
    <h1 th:text="#{menu.registered_user}"></h1>
    <div class="box">
        <p>[[#{menu.registered_user_message}]]</p>
    </div>
</div>
</body>
</html>