<!-- Copyright © 2019 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak- Result</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <script th:src="@{/private/JS/datepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/private/JS/datepicker/daterangepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/result-page.css}" />

    <script th:src="@{/private/JS/result-page.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">
    <h2>Results for id [[${id}]]</h2>
    <div class="box half">
        <h3>Metadata</h3>

        <div class="result-data-row">
            <div class="result-data-block">
                <h1 id="patid-data">--</h1>
                <h5><i class="fas fa-user"></i> Patient ID</h5>
            </div>
            <div class="result-data-block">
                <h1 id="date-data">--</h1>
                <h5><i class="fas fa-calendar"></i> Date</h5>
            </div>
            <div class="result-data-block">
                <h1 id="owner-data">--</h1>
                <h5><i class="fas fa-user-tag"></i> Owner</h5>
            </div>
            <div class="result-data-block">
                <h1 id="soundfilename-data">--</h1>
                <h5><i class="fas fa-music"></i> Soundfilename</h5>
            </div>
        </div>

        <div class="result-data-row-spacer"></div>

        <h3>Praat</h3>
        <div class="result-data-row">
            <div class="result-data-block">
                <h1 id="splitchannels-data">--</h1>
                <h5><i class="fas fa-expand"></i> Split channels</h5>
            </div>
            <div class="result-data-block">
                <h1 id="cutaudio-data">--</h1>
                <h5><i class="fas fa-cut"></i> Cut audio</h5>
            </div>
            <div class="result-data-block">
                <h1 id="normalize-data">--</h1>
                <h5><i class="fas fa-compress"></i> Normalize</h5>
            </div>
            <div class="result-data-block">
                <h1 id="praatscriptid-data">--</h1>
                <h5><i class="fas fa-code"></i> Praatscript ID</h5>
            </div>
        </div>
        <div class="result-data-row">
            <div class="result-data-block">
                <h1 id="nsyll-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> nsyll</h5>
            </div>
            <div class="result-data-block">
                <h1 id="npause-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> npause</h5>
            </div>
            <div class="result-data-block">
                <h1 id="duration-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> duration</h5>
            </div>
            <div class="result-data-block">
                <h1 id="phonationtime-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> phonationTime</h5>
            </div>
        </div>
        <div class="result-data-row">
            <div class="result-data-block">
                <h1 id="speechrate-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> speechRate</h5>
            </div>
            <div class="result-data-block">
                <h1 id="articulation-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> articulation</h5>
            </div>
            <div class="result-data-block">
                <h1 id="asd-data">--</h1>
                <h5><i class="fas fa-question-circle"></i> asd</h5>
            </div>
        </div>

        <div class="result-data-row">

            <div class="result-data-block">
                <img id="spectogram">
            </div>

            <div class="result-data-block">
                <img id="spectogram">
            </div>

            <div class="result-data-block">
                <img id="spectogram">
            </div>

        </div>

        <div class="result-data-row-spacer"></div>

        <h3>OpenSMILE</h3>
        <div class="result-data-row">
            <a href="#" id="download-opensmile"><div class="btn"><i class="fas fa-file-download"></i>&nbsp;Download OpenSMILE *.arff file</div></a>
        </div>

    </div><!-- end .box-half -->
</div>

</body>
</html>