<!--Copyright © 2020 Bas Kasemir -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak - [[#{user.saved}]]</title>
    <th:block th:include="fragments/wireframe.html :: head">Here should be an include...</th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/sweetalert.css}" />
    <script th:src="@{/private/JS/adduser.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/user.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/private/CSS/tabs.css}"/>
    <script th:src="@{/private/JS/tabs.js}"></script>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2 th:text="#{user.saved}"></h2>

    <div class="grid">
            <div class="box grid-item col-1-3 profile">
                <h3 class="heading" th:text="#{user.preview}"></h3>
                <img th:src="@{/public/images/default-user.svg}" height="100" width="100" alt="profile pic" class="profile-picture">
                <h2><span th:text="${newUser.first_name}"></span> <span th:text="${newUser.last_name}"> </span> </h2>
                <h5 class="subtitle"><span th:text="${newUser.userName}"></span> | <span th:text="${newUser.full_name_institute}"></span> | <span th:text="${newUser.formattedRole}"></span></h5>
                <br>
                <h5 th:text="#{user.label.email}+':'"></h5>
                <h4 th:text="${newUser.email}"></h4>
                <h5 th:text="#{user.label.language}+':'"></h5>
                <h4 th:text="${newUser.profile_language}"></h4>
            </div>

        <div class="box grid-item col-2-3">
            <h3><i class="fas fa-check-circle download_green_text"></i>&nbsp;[[#{user.saved}]]</h3>
            <p th:text="#{user.saved_msg}"></p>
            <br><br>
            <a th:href="@{/user/new}" th:title="#{menu.add_user}">
                <div class="btn" th:text="#{user.add_another}"></div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
