<!-- Copyright © 2019 Bas Kasemir and Marcel Zandberg -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spraak</title>
    <th:block th:include="fragments/wireframe.html :: head"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/public/CSS/app.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/private/CSS/patients.css}"/>
</head>
<body>

<div th:include="fragments/wireframe :: header">Here should be an include...</div>
<div th:include="fragments/wireframe :: menubar">Here should be an include...</div>

<div class="content">

    <h2>Settings and monitoring</h2>

    <div class="box half">
        <form action="#" th:action="@{'/institute'}" th:object="${institute}" method="post" id="register">
        <p th:text="#{settings.header}">
        </p><br>
            <div class="filter-options margin">
                <input type="text" th:placeholder="#{settings.abbr}" th:field="*{abbreviation}" autocomplete="off"/>
            </div>
            <i class="fab fa-adn icon-margin tooltip">
                <span class="tooltiptext no_selection" th:text="#{help.abbr}"></span>
            </i><br><br>
            <div class="filter-options margin">
                <input type="text" th:placeholder="#{settings.institute}" th:field="*{full_name}" autocomplete="off"/>
            </div>
            <i class="fas fa-clinic-medical icon-margin tooltip">
                <span class="tooltiptext no_selection" th:text="#{help.institute}"></span>
            </i><br><br>
            <div class="filter-options margin">
                <input type="text" th:placeholder="#{settings.api}" th:field="*{api_host}" autocomplete="off"/>
                <td th:if="${error}" th:text="${error}"></td>
            </div>
            <i class="fas fa-cloud icon-margin tooltip">
                <span class="tooltiptext no_selection" th:text="#{help.api}"></span>
            </i><br><br><br><br>
            <div class="btn-small submit-institute-form" th:text="#{settings.submit}">
                <!--<input class="btn-small" type="submit" value="Submit"/>-->
            </div>
        </form>
    </div>

</div>

</body>
</html>